*{
    background-color: #ffe8fa;
}
header{
    display: flex;
    justify-content: center;
}

h1, h2{
    text-decoration: underline;
}

img{
    width: 300px;
}
#headerimage{
    width: 60%;
}
.images{
    display: flex;
    gap: 50px;
}
.texture{
    width: 200px;
}
#difficulties, #largeText{
    display: flex;
    flex-wrap: wrap;
}

.features {
  display: flex;                           
  align-items: flex-start;   
  flex-wrap: wrap;       
}

/* img {
    /* width: 600px;
    height: 300px;
} */ */

.download-btn {
  display: inline-block;
  padding: 12px 22px;
  margin-bottom: 10px;
  background-color: #7f5669;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}

